<html>
<head>
    <title>GST Bill Calculator</title>
<style>
    body {
        background: linear-gradient(rgb(253, 26, 26), rgb(255, 255, 57));
        margin: 0;
        padding: 20px;
    }

    .box {
        background-color:whitesmoke;
        padding: 25px;
        width: 300px;
        border-radius: 10px;
        text-align: center;
        border:3px dotted black;
        margin: 50px auto;
    }

    .box1{
        margin-bottom: 5px;
    }

    h3{
        margin-top:10px
    }
</style>
</head>

<body>

<div class="box">
    <p>SHUBNUM FATHIMA AB</p>
    <P>25010692</P>
    
    <h2>GST Bill Calculator</h2>

    <form method="POST">
        {% csrf_token %}
        <div class="box1">
            Price:<br>
            <input type="text" name="price" value="{{ price }}">
        </div>

        <div class="box1">
            GST:<br>
            <input type="text" name="gst" value="{{ gst }}">
        </div>

        <div class="box1">
            <input type="submit" value="Calculate">
        </div>

        <div class="box1">
            Total Bill:<br>
            <input type="text" value="{{ total }}">
        </div>

    </form>
</div>

</body>
</html>